<!-- <app-template-driven-forms></app-template-driven-forms> -->

<!-- <div>
  <app-fetch-product></app-fetch-product>
   <!-- <h3>Modern Driven Template Example </h3>
    <div>
      <app-model-driven-form></app-model-driven-form>
    </div> 
</div> -->


<div class = 'container-fluid'>
  <div class = 'row'>
    <div class = 'col-4'>
      <app-store-product></app-store-product>
    </div>
    <div class = 'col-4'>
      <h3>Update Product Details!!! </h3> 
      <app-update-product></app-update-product>
    </div>
  </div>
  <hr/>

<div class = 'container-fluid'>
  <div class = 'row'>
    <div class = 'col-4'>
      <app-fetch-product></app-fetch-product>
    </div>
    <div class = 'col-4'>
      <app-fetch-products></app-fetch-products>
    </div>
  </div>
  <hr/>

  <div>
    <app-delete-product></app-delete-product>
  </div>
  <hr/>
  
  