<div>
    <h3>Search Product</h3>
    <form [formGroup] = 'product' (ngSubmit) = 'handleSubmit()'>
        <label>
            Enter id
            <input type = 'number' formControlName = 'id' />
        </label>
        <input type = 'submit' value = 'Search' class = 'btn btn-primary'>
    </form>
    <div *ngIf = 'prdct' class = 'text-success'>
        Hello {{prdct.name}}, price is {{prdct.price}}
    </div>
    <div *ngIf = 'errorMessage' class = 'text-danger'>
        {{errorMessage}}
    </div>
</div>